@media only screen and (max-width: 1200px) {
  .container {
    max-width: 65%;
    min-height: 70vh;
    margin: auto auto;
    padding: 10px;
    border-radius: 16px;
  }
  .cardContainer {
    width: 65%;
  }
}

@media only screen and (max-width: 768px) {
  .formContainer {
    max-width: 100%;
    min-height: 50vh;
    margin: auto auto;
    padding: 10px;
    border-radius: 16px;
  }
  .heading-1 {
    font-size: 35px;
  }
  .container {
    max-width: 100%;
    min-height: 70vh;
    margin: auto auto;
    padding: 10px;
    border-radius: 16px;
  }
  .cardContainer {
    max-width: 100%;
  }
  .cardContainer .userName {
    font-size: 30px;
    font-weight: 500;
    margin: 5px;
  }
  .cardContainer .userEmail {
    font-weight: 400;
    margin: 5px;
  }

  .logOutBtn {
    width: 60%;
    margin: 5px auto;
  }
}
