* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #003153;
  background-image: url(../hand-1868015_1920.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* background-image: repeating-linear-gradient(
    58deg,
    #003153 10%,
    #1b1b1b 10%,
    #000000 15%,
    #003153 15%,
    #1b1b1b 10%,
    #000000 30%
  ); */
  color: #000000;
  text-align: center;
  padding: 50px;
}

.heading-1 {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 55px;
  font-variant: small-caps;
  text-decoration: underline dashed;
  margin-bottom: 15px;
}

.container {
  background: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(1px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */

  max-width: 35%;
  min-height: 70vh;
  margin: 20px auto;
  padding: 30px;
  border-radius: 16px;
}

.input-field {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.input-field input {
  width: 100%;
  /* max-width: 400px; */
  padding: 12px 20px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.input-field input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: italic;
}

.input-field input:focus {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

#addTaskBtn {
  padding: 12px 20px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;
  outline: none;
  margin-left: -53px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
}

#addTaskBtn:hover {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

.result-container {
  margin-top: 20px;
}
.task {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 8px;
}

.task span {
  flex: 2;
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.task button {
  background-color: transparent;
  color: ivory;
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.task button:hover {
  color: rgb(218, 218, 182);
  background: #000;
}
#notification {
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: #00ffb3;
  color: #000000;
  font-size: 35px;
  font-weight: 800;
  padding: 10px 20px;
  border-radius: 8px;
  display: none;
}

.liLine {
  text-decoration: line-through;
  color: #645d5d;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
  height: 150px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  border-radius: 12px;
  margin: 20px auto;
}

.cardContainer .userName{
  color: #fafafa;
  font-size: 35px;
  text-decoration: underline dashed;
  font-variant: small-caps;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  margin: 10px;
}
.cardContainer .userEmail {
  color: #fafafa;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  margin: 10px;
}

.formContainer {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 35%;
  min-height: 50vh;
  margin: 20px auto;
  padding: 30px;
  border-radius: 16px;
}

.logInInput {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 25px auto;
}

.logInInput input {
  width: 100%;
  /* max-width: 400px; */
  padding: 12px 20px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;
  outline: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.logInInput input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-style: italic;
}

.logInInput input:focus {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

#logInBtn {
  width: 30%;
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;
  outline: none;
  margin-left: -53px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
}

#logInBtn:hover {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

#signUpBtn {
  width: 30%;
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 16px;
  transition: all 0.3s ease;
  outline: none;
  margin-left: -53px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
  cursor: pointer;
}
#signUpBtn:hover {
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.4);
}

a {
  background-image: linear-gradient(
    to right,
    #54b3d6,
    #54b3d6 50%,
    #7455a7 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.5s ease-in-out;
  font-weight: 600;
  font-size: 20px;
}

a:before {
  content: "";
  background: #54b3d6;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.5s ease-in-out;
}

a:hover {
  background-position: 0;
}

a:hover::before {
  width: 100%;
}
